<section>
  <div class="container py-5">
    <h4>{{'orders.quickSearch' | translate}}</h4>
    <!-- Filter -->
    <div class="card my-4">
      <div class="page-header">
        <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)">
          <div class="row">
            <!--  Status -->
            <div class="col-md-4">
              <div class="">
                <mat-form-field [hideRequiredMarker]="hideRequiredMarker">
                  <mat-label>{{'orders.status' | translate}}</mat-label>
                  <mat-select formControlName="status">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let item of status" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!--  Department -->
            <div class="col-md-4">
              <div class="">
                <mat-form-field [hideRequiredMarker]="hideRequiredMarker">
                  <mat-label>{{'orders.department' | translate}}</mat-label>
                  <!-- <mat-select (selectionChange)="onselectDepartment()" [(value)]="departmentId" -->
                  <mat-select formControlName="department_id">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let item of departments" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!--  Engineer -->
            <div class="col-md-4">
              <mat-form-field [hideRequiredMarker]="hideRequiredMarker">
                <mat-label>{{'orders.engineer' | translate}}</mat-label>
                <mat-select formControlName="engineer_id">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let item of engineers" [value]="item.id">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!--  Technician -->
            <div class="col-md-4">
              <mat-form-field [hideRequiredMarker]="hideRequiredMarker">
                <mat-label>{{'orders.technician' | translate}}</mat-label>
                <mat-select formControlName="technician_id">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let item of technicians" [value]="item.id">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!--  buildings -->
            <div class="col-md-4">
              <mat-form-field [hideRequiredMarker]="hideRequiredMarker">
                <mat-label>{{'orders.building' | translate}}</mat-label>
                <mat-select formControlName="building_id">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let item of buildingsList" [value]="item.id">
                    <span *ngIf="currentLang == 'ar'">{{item.name_ar}}</span>
                    <span *ngIf="currentLang == 'en'">{{item.name_en}}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!--  workType -->
            <div class="col-md-4">
              <mat-form-field [hideRequiredMarker]="hideRequiredMarker">
                <mat-label>{{'orders.workType' | translate}}</mat-label>
                <mat-select formControlName="work_type_id">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let item of workTypeList" [value]="item.id">
                    <span *ngIf="currentLang == 'ar'">{{item.name_ar}}</span>
                    <span *ngIf="currentLang == 'en'">{{item.name_en}}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- start Date -->
            <div class="col-md-4">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>{{'reports.start' | translate}}</mat-label>
                <input formControlName="from_date" matInput [matDatepicker]="picker3">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            </div>
            <!-- end date -->
            <div class="col-md-4">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>{{'reports.end' | translate}}</mat-label>
                <input formControlName="to_date" matInput [matDatepicker]="picker4">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="text-start mt-3 ">
            <button class="outline-secondary text-center addbtn">{{'search'|translate}}</button>
          </div>
        </form>
      </div>

    </div>
    <!--  -->
    <h4>{{'orders.orders' | translate}}</h4>
    <div class="text-start mt-3 ">
      <button routerLink="add" class="primary text-center addbtn mx-4">{{'orders.addOrder'|translate}}</button>
    </div>
    <!-- cards -->
    <div class="container">
      <div class="row my-3  gap-3 ">
        <div class="all-orders col d-flex ">
          <div class="col-md-10">
            <h4 style="color: #05A0E1;">{{'home.totalWorkOrders' | translate}}</h4>
            <h1>{{tableResponse?.total}}</h1>
          </div>
          <div class="col-md-2 icon text-start ">
            <i style="color: #05A0E1;" class="fa-solid fa-sitemap fs-4 rounded-circle"></i>
          </div>
        </div>
        <div class="all-orders col d-flex ">
          <div class="col-md-10">
            <h4 style="color: #3575DD;">{{'orders.assigned' | translate}}</h4>
            <h1>226</h1>
          </div>
          <div class="col-md-2 icon text-start ">
            <i style="color: #3575DD;" class="fa-solid fa-sitemap fs-4 rounded-circle"></i>
          </div>
        </div>
        <div class="all-orders col d-flex  ">
          <div class="col-md-10">
            <h4 style="color: #D3A107;">{{'orders.pending' | translate}}</h4>
            <h1>124</h1>
          </div>
          <div class="col-md-2 icon text-start ">
            <i style="color: #D3A107;" class="fa-solid fa-toolbox fs-4 rounded-circle"></i>
          </div>
        </div>
        <div class="all-orders col d-flex ">
          <div class="col-md-10">
            <h4 style="color: #D73D3D;">{{'orders.canceled' | translate}}</h4>
            <h1>132</h1>
          </div>
          <div class="col-md-2 icon text-start ">
            <i style="color: #D73D3D;" class="fa-solid fa-sitemap fs-4 rounded-circle"></i>
          </div>
        </div>
        <div class="all-orders col d-flex  ">
          <div class="col-md-10">
            <h4 style="color: #1FB155;">{{'orders.closed' | translate}}</h4>
            <h1>1026</h1>
          </div>
          <div class="col-md-2 icon text-start ">
            <i style="color: #1FB155;" class="fa-solid fa-toolbox fs-4 rounded-circle"></i>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Table -->
  <div class="container all-orders px-4 ">
    <h4 class="py-3">{{'orders.orders' | translate}}</h4>
    <div class="table-responsive">
      <table class="custom-table ">
        <thead class="text-capitalize">
          <th class="alone">#</th>
          <th class="alone">{{'orders.workType' | translate}}</th>
          <th class="alone">{{'orders.building' | translate}}</th>
          <th class="alone">{{'orders.floor' | translate}}</th>
          <th class="alone">{{'orders.room' | translate}}</th>
          <th class="alone">{{'orders.requestername' | translate}}</th>
          <th class="alone">{{'orders.status' | translate}}</th>
          <th class="alone">{{'orders.date' | translate}}</th>
          <th class="alone">{{'orders.actions' | translate}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData">
            <td class="p-2"><a style="color: #3575DD;" (click)="openOrderDialog(item.id)">{{ item.number }}</a></td>
            <td>{{ item.work_type.name }}</td>
            <td>{{ item.building.name }}</td>
            <td>{{ item.floor_no }}</td>
            <td>{{ item.room_no }}</td>
            <td>{{item.customer_name}}</td>
            <td>{{item?.status?.name}}</td>

            <td>{{ item.start_date | date : "dd-MM-yyyy , hh:mm a" }}</td>

            <td class="text-center">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openOrderDialog(item.id)">
                  <mat-icon style="color: #05A0E1;">visibility</mat-icon>
                  <span style="color: #05A0E1;">{{'users.view' | translate}}</span>
                </button>
                <button [routerLink]="['edit',item.id]" mat-menu-item>
                  <mat-icon style="color: #feee00;">edit_square</mat-icon>
                  <span style="color: #feee00;">{{'edit'|translate}}</span>
                </button>
                <button mat-menu-item (click)="deleteDialog(item)">
                  <mat-icon style="color: #EF4444;">delete</mat-icon>
                  <span style="color: #EF4444;">{{'delete'|translate}}</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Pagination -->
    <div class="bg-info">
      <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="tableResponse?.total"
        [pageSize]="tableResponse?.pageSize" [pageSizeOptions]="[5, 10, 15, 20, 40, 100]" [pageIndex]="pageIndex"
        aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</section>