.card {
    border-radius: 24px;
    border: 1px solid #F2F3F4;
    padding: 16px;

}
.container h4 {
    font-size: 18px;
    color: #051573;
}
.mat-date-range-input-inner {
  color: #000;
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
  color: black !important;
}
.addbtn{
    width: 15%;
}
mat-form-field {
  width: 100%;
}
.all-orders {
    border-radius: 24px;
    border: 1px solid #F2F3F4;
    padding: 16px;

}
.col h4 {
    font-size: 16px;
    font-weight: 500;
    // color: #3575DD;
}
