<div [dir]="currentLang =='en' ? 'ltr' : 'rtl'">
  <section>
    <div class="container px-3 py-4">
      <div class="details-header d-flex  justify-content-between ">
        <h4>{{'orders.details'| translate}}</h4>
        <span (click)="onClose()" class=" pointer px-2"><i style="color: #232931"
            class="fa-solid fa-xmark fa-2x"></i></span>
      </div>
      <div class="d-flex  justify-content-between py-3">
        <div>
          <h4>{{orderData?.number}}</h4>
        </div>
        <div>
          <h4>{{orderData?.start_date | date:'yyyy-MM-dd'}}</h4>
        </div>
      </div>
      <div class="description">
        <p>{{orderData?.description}}</p>
      </div>
      <hr class="my-3">
      <!--Order Details -->
      <div class="first-details">
        <div class="row">
          <div class="col-md-4 d-flex align-items-center justify-content-between p-0 ">
            <div class="mx-3">
              <h4>{{'orders.department'| translate}}</h4>
              <p>{{orderData?.department?.name}}</p>
            </div>
            <div class="vertical-divider "></div>
          </div>
          <div class="col-md-4 d-flex align-items-center justify-content-between p-0">
            <div class="mx-4">
              <h4> {{'orders.workType'| translate}} </h4>
              <p>{{orderData?.work_type?.name}}</p>
            </div>
            <div class="vertical-divider "></div>
          </div>
          <div class="col-md-4 justify-content-center">
            <div class="mx-3">
              <h4>{{'orders.status'| translate}}</h4>
              <p>{{orderData?.status?.name}}</p>
            </div>
          </div>
          <!--  -->
          <div class="col-md-4 d-flex align-items-center justify-content-between p-0 ">
            <div class="mx-3">
              <h4>{{'orders.engineer'| translate}}</h4>
              <p>{{orderData?.engineer?.name}}</p>
            </div>
            <div class="vertical-divider "></div>
          </div>
          <div class="col-md-4 d-flex align-items-center justify-content-between p-0">
            <div class="mx-4">
              <h4> {{'orders.technician'| translate}} </h4>
              <p>{{orderData?.technician?.name}}</p>
            </div>
            <div class="vertical-divider "></div>
          </div>
          <div class="col-md-4 justify-content-center">
            <div class="mx-3">
              <h4>{{'orders.requestername'| translate}}</h4>
              <p>{{orderData?.customer_name}}</p>
            </div>
          </div>
          <!--  -->
          <div class="col-md-4 d-flex align-items-center justify-content-between p-0 ">
            <div class="mx-3">
              <h4>{{'orders.building'| translate}}</h4>
              <p>{{orderData?.building?.name}}</p>
            </div>
            <div class="vertical-divider "></div>
          </div>
          <div class="col-md-4 d-flex align-items-center justify-content-between p-0">
            <div class="mx-4">
              <h4> {{'orders.floor'| translate}} </h4>
              <p>{{orderData?.floor_no}}</p>
            </div>
            <div class="vertical-divider "></div>
          </div>
          <div class="col-md-4 justify-content-center">
            <div class="mx-3">
              <h4>{{'orders.room'| translate}}</h4>
              <p>{{orderData?.room_no}}</p>
            </div>
          </div>
          <!--  -->
          <div class="col-md-4 d-flex align-items-center justify-content-between p-0 ">
            <div class="mx-3">
              <h4>{{'orders.added_by'| translate}}</h4>
              <p>{{orderData?.added_by?.name}}</p>
            </div>
            <div class="vertical-divider "></div>
          </div>
          <div class="col-md-4 d-flex align-items-center justify-content-between p-0">
            <div class="mx-4">
              <h4> {{'orders.equipment'| translate}} </h4>
              <p>{{orderData?.equipment?.name}}</p>
            </div>
            <div class="vertical-divider "></div>
          </div>
          <div class="col-md-4 justify-content-center">
            <div class="mx-3">
              <h4>{{'orders.source'| translate}}</h4>
              <p>{{orderData?.source?.name}}</p>
            </div>
          </div>
          <!--  -->
        </div>
        <!-- strat Add material -->
        <h4>{{'orders.update.material' | translate}}</h4>
        <table class="custom-table">
          <thead class="text-capitalize">
            <th class="alone">{{'orders.update.name' | translate}}</th>
            <th class="alone">{{'orders.update.description' | translate}}</th>
            <th class="alone">{{'orders.update.quantity' | translate}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of materialTableData; let isEven = even" [class]="isEven ? '' : 'bg-secondary-subtle'">
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.quantity }}</td>
            </tr>
          </tbody>
        </table>
        <!-- Start Spare Parts -->
        <div class="py-4">
          <h4>{{'orders.update.parts' | translate}}</h4>
          <table class="custom-table">
            <thead class="text-capitalize">
              <th class="alone">{{'orders.update.name' | translate}}</th>
              <th class="alone">{{'orders.update.description' | translate}}</th>
              <th class="alone">{{'orders.update.quantity' | translate}}</th>
              <th class="alone">{{'orders.actions' | translate}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of spareTableData; let isEven = even" [class]="isEven ? '' : 'bg-secondary-subtle'">
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.quantity }}</td>
                <td class="text-center">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button [routerLink]="['view-order', item.id]" mat-menu-item>
                      <mat-icon>visibility</mat-icon>
                      <span>{{'users.view' | translate}}</span>
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>
</div>