<section class="view-word-order">
  <div class="container px-3 py-4">
    <div class="row">
      <div class="col-md-4 offset-md-8">
        <div class="order-actions">
          <ng-container *ngFor="let btnId of btnsToShow">
            <button class=" btn " (click)="onAction(btnId)">
              {{ getLabel(btnId) | translate }}
            </button>
          </ng-container>


        </div>
      </div>



    </div>
    <div class="row">
      <div class="details-header d-flex  justify-content-between ">
        <h4>{{'orders.details'| translate}}</h4>
      </div>
      <div class="d-flex  justify-content-between py-3">
        <div>
          <h4>{{orderData?.number}}</h4>
        </div>
        <div>
          <h4>{{orderData?.start_date | date:'yyyy-MM-dd'}}</h4>
        </div>
      </div>
      <div class="description">
        <p>{{orderData?.description}}</p>
      </div>
      <hr class="my-3">
    </div>

    <!--Order Details -->
    <div class="first-details">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-between p-0 ">
          <div class="mx-3">
            <h4>{{'orders.department'| translate}}</h4>
            <p>{{orderData?.department?.name}}</p>
          </div>
          <div class="vertical-divider "></div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-between p-0">
          <div class="mx-4">
            <h4> {{'orders.workType'| translate}} </h4>
            <p>{{orderData?.work_type?.name}}</p>
          </div>
          <div class="vertical-divider "></div>
        </div>
        <div class="col-md-4 justify-content-center">
          <div class="mx-3">
            <h4>{{'orders.status'| translate}}</h4>
            <p [ngClass]="'status-label status-' + orderData?.status?.id ">{{orderData?.status?.name}}</p>
          </div>
        </div>
        <!--  -->
        <div class="col-md-4 d-flex align-items-center justify-content-between p-0 ">
          <div class="mx-3">
            <h4>{{'orders.engineer'| translate}}</h4>
            <p>{{orderData?.engineer?.name}}</p>
          </div>
          <div class="vertical-divider "></div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-between p-0">
          <div class="mx-4">
            <h4> {{'orders.technician'| translate}} </h4>
            <p>{{orderData?.technician?.name}}</p>
          </div>
          <div class="vertical-divider "></div>
        </div>
        <div class="col-md-4 justify-content-center">
          <div class="mx-3">
            <h4>{{'orders.requestername'| translate}}</h4>
            <p>{{orderData?.customer_name}}</p>
          </div>
        </div>
        <!--  -->
        <div class="col-md-4 d-flex align-items-center justify-content-between p-0 ">
          <div class="mx-3">
            <h4>{{'orders.building'| translate}}</h4>
            <p>{{orderData?.building?.name}}</p>
          </div>
          <div class="vertical-divider "></div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-between p-0">
          <div class="mx-4">
            <h4> {{'orders.floor'| translate}} </h4>
            <p>{{orderData?.floor_no}}</p>
          </div>
          <div class="vertical-divider "></div>
        </div>
        <div class="col-md-4 justify-content-center">
          <div class="mx-3">
            <h4>{{'orders.room'| translate}}</h4>
            <p>{{orderData?.room_no}}</p>
          </div>
        </div>
        <!--  -->
        <div class="col-md-4 d-flex align-items-center justify-content-between p-0 ">
          <div class="mx-3">
            <h4>{{'orders.added_by'| translate}}</h4>
            <p>{{orderData?.added_by?.name}}</p>
          </div>
          <div class="vertical-divider "></div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-between p-0">
          <div class="mx-4">
            <h4> {{'orders.equipment'| translate}} </h4>
            <p>{{orderData?.equipment?.name}}</p>
          </div>
          <div class="vertical-divider "></div>
        </div>
        <div class="col-md-4 justify-content-center">
          <div class="mx-3">
            <h4>{{'orders.source'| translate}}</h4>
            <p>{{orderData?.source?.name}}</p>
          </div>
        </div>
        <div class="col-md-4 justify-content-center">
          <div class="mx-4" *ngIf="orderData?.attachment">
            <h4> {{'orders.attachment'| translate}} </h4>
            <img width="120px" height="120px" [src]="orderData?.attachment" alt="">
          </div>
        </div>
        <div class="row" *ngIf="orderData?.status.id === 4">
          <div class="col-md-12">
            <h3>{{'orders.holding_title' |translate}} </h3>
          </div>
          <div class="row">
            <div class="col-md-3 d-flex align-items-center justify-content-between p-0">
              <div class="mx-4">
                <h4> {{'orders.holding_reason'| translate}} </h4>
                <p>{{orderData?.holding_reason}}</p>
              </div>
              <div class="vertical-divider "></div>
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-between p-0">
              <div class="mx-4">
                <h4> {{'orders.required_items'| translate}} </h4>
                <p>{{orderData?.used_items_descriptions}}</p>
              </div>
              <div class="vertical-divider "></div>
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-between p-0">
              <div class="mx-4">
                <h4> {{'orders.tech_report'| translate}} </h4>
                <p>{{orderData?.technician_report}}</p>
              </div>
              <div class="vertical-divider "></div>
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-between p-0">
              <div class="mx-4" *ngIf="orderData?.pendding_attachment">
                <h4> {{'orders.attachment'| translate}} </h4>
                <img width="120px" height="120px" [src]="orderData?.pendding_attachment" alt="">
              </div>
              <div class="vertical-divider "></div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="orderData?.status.id === 7">
          <div class="col-md-12">
            <h3>{{'orders.rejection_title' |translate}} </h3>
          </div>
          <div class="row">

            <div class="col-md-3 d-flex align-items-center justify-content-between p-0">
              <div class="mx-4">
                <h4> {{'orders.rejection_reason'| translate}} </h4>
                <p>{{orderData?.rejection_reason}}</p>
              </div>
              <div class="vertical-divider "></div>
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-between p-0">
              <div class="mx-4" *ngIf="orderData?.rejection_attachment">
                <h4> {{'orders.attachment'| translate}} </h4>
                <img width="120px" height="120px" [src]="orderData?.rejection_attachment" alt="">
              </div>
              <div class="vertical-divider "></div>
            </div>
          </div>
        </div>
        <!--  -->
      </div>

      <!-- strat Add material -->
      <ng-container *ngIf="materialTableData.length > 0">
        <h4>{{'orders.update.material' | translate}}</h4>
        <table class="custom-table">
          <thead class="text-capitalize">
            <th class="alone">{{'orders.update.name' | translate}}</th>
            <th class="alone">{{'orders.update.description' | translate}}</th>
            <th class="alone">{{'orders.update.quantity' | translate}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of materialTableData; let isEven = even" [class]="isEven ? '' : 'bg-secondary-subtle'">
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.quantity }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>



      <!-- Start Spare Parts -->
      <ng-container *ngIf="spareTableData.length > 0">
        <div class="py-4">
          <h4>{{'orders.update.parts' | translate}}</h4>
          <table class="custom-table">
            <thead class="text-capitalize">
              <th class="alone">{{'orders.update.name' | translate}}</th>
              <th class="alone">{{'orders.update.description' | translate}}</th>
              <th class="alone">{{'orders.update.quantity' | translate}}</th>
              <th class="alone">{{'orders.actions' | translate}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of spareTableData; let isEven = even" [class]="isEven ? '' : 'bg-secondary-subtle'">
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.quantity }}</td>
                <td class="text-center">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button [routerLink]="['view-order', item.id]" mat-menu-item>
                      <mat-icon>visibility</mat-icon>
                      <span>{{'users.view' | translate}}</span>
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>


    </div>


  </div>
</section>