i {
    width: 14px;
    height: 14px;
}
.container h4 {
    font-size: 18px;
    color: #232931
}
  .vertical-divider {
  width: 2px;            
  height: 40px;           
  background: #E5E5EF;       
  display: inline-block; 
  vertical-align: middle;
  border-radius: 1px;    
}