<section class="home container">

    <div class="row mx-3 my-3 gap-3">
        <div class="col  ">
            <div class=" all-orders row my-3">
                <div class="col-md-4">
                    <h4>{{'home.totalWorkOrders' | translate}}</h4>
                    <h1>24,560</h1>
                </div>
                <div class="col-md-3">
                    <h4>{{'home.assigned' | translate}}</h4>
                    <h1>460</h1>
                </div>
                <div class="col-md-3">
                    <h4>{{'home.closed' | translate}}</h4>
                    <h1>1258</h1>
                </div>
                <div class="col-md-2 icon text-start ">
                    <i class="fa-solid fa-layer-group fs-4 rounded-circle"></i>
                </div>
                
            </div>

            <div class=" all-orders row my-3">
                <div class="col-md-4">
                    <h4>{{'home.allUsers' | translate}}</h4>
                    <h1>24,560</h1>
                </div>
                <div class="col-md-3">
                    <h4>{{'home.ActivatedUsers' | translate}}</h4>
                    <h1>460</h1>
                </div>
                <div class="col-md-3">
                    <h4>{{'home.DeactivatedUsers' | translate}}</h4>
                    <h1>1258</h1>
                </div>
                <div class="col-md-2 icon text-start ">
                    <i class="fa-solid fa-users fs-4 rounded-circle"></i>
                </div>

            </div>
            <div class="row my-3  gap-3 ">
                <div class="all-orders col d-flex ">
                    <div class="col-md-10">
                        <h4>{{'home.totalDepartments' | translate}}</h4>
                        <h1>24,560</h1>
                    </div>
                    <div class="col-md-2 icon text-start ">
                        <i class="fa-solid fa-sitemap fs-4 rounded-circle"></i>
                    </div>
                </div>
                <div class="all-orders col d-flex  ">
                    <div class="col-md-10">
                        <h4>{{'sidebar.equipments' | translate}}</h4>
                        <h1>24,560</h1>
                    </div>
                    <div class="col-md-2 icon text-start ">
                        <i class="fa-solid fa-toolbox fs-4 rounded-circle"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Machines -->
        <div class="col all-orders my-3">
            <h4>{{'home.Devices_U_Maintenance' | translate}}</h4>
            <!-- machine1 -->
            <div class="machines row my-3 mx-1 align-items-center">
                <div class="col-md-8  ">
                    <div class="d-flex align-items-center">
                        <div class="image ">
                            <img src="../../../../assets/images/device.jpg" alt="">
                        </div>
                        <div class="details mx-2 ">
                            <h4>جهاز التنفس الطبيعي</h4>
                            <p>#159875</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="qr">
                        <h4>{{"home.scanqr" |translate}}</h4>
                        <img src="../../../../assets/images/device.jpg" alt="">
                    </div>
                </div>
                <hr class="my-3">
                <div class="col-md-4 d-flex align-items-center justify-content-between p-0 ">
                    <div class="mx-3">
                        <h4>عدد مرات الصيانة</h4>
                        <p>12 مرة </p>
                    </div>
                    <div class="vertical-divider "></div>
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-between p-0">
                    <div class="mx-4">
                        <h4>إجمالي وقت التوقف</h4>
                        <p>38 ساعة</p>
                    </div>
                    <div class="vertical-divider "></div>
                </div>
                <div class="col-md-4 justify-content-center">
                    <div class="mx-3">
                        <h4>اخر تاريخ صيانه</h4>
                        <p>12 Jul 2025</p>
                    </div>
                </div>
            </div>
            <!-- machine2 -->
            <div class="machines row my-3 mx-1 align-items-center">
                <div class="col-md-8  ">
                    <div class="d-flex align-items-center">
                        <div class="image ">
                            <img src="../../../../assets/images/device.jpg" alt="">
                        </div>
                        <div class="details mx-2 ">
                            <h4>جهاز التنفس الطبيعي</h4>
                            <p>#159875</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="qr">
                        <h4>{{"home.scanqr" |translate}}</h4>
                        <img src="../../../../assets/images/device.jpg" alt="">
                    </div>
                </div>
                <hr class="my-3">
                <div class="col-md-4 d-flex align-items-center justify-content-between p-0 ">
                    <div class="mx-3">
                        <h4>عدد مرات الصيانة</h4>
                        <p>12 مرة </p>
                    </div>
                    <div class="vertical-divider "></div>
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-between p-0">
                    <div class="mx-4">
                        <h4>إجمالي وقت التوقف</h4>
                        <p>38 ساعة</p>
                    </div>
                    <div class="vertical-divider "></div>
                </div>
                <div class="col-md-4 justify-content-center">
                    <div class="mx-3">
                        <h4>اخر تاريخ صيانه</h4>
                        <p>12 Jul 2025</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>