.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;

  .mdc-text-field__input {
    color: white !important;
  }
}

.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  color: #34373D;
}

.mat-mdc-raised-button:not(:disabled) {
  color: white !important;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #05A0E1;
}

.mat-mdc-raised-button.mat-unthemed {
  --mdc-protected-button-container-color: #4f78db;
}


::ng-deep .mat-mdc-text-field-wrapper {
  height: 40px; // set desired height
  min-height: 40px;
}
::ng-deep .mat-mdc-form-field-infix {
  padding: 0 !important; // reduce vertical padding
}

::ng-deep .mat-mdc-text-field-wrapper {
  border-radius: 12px !important; // set your desired radius
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    color: black !important;
}

.example-full-width {
    width: 100%;
}