a {
  text-decoration: none;
  // color: aqua;
}

.bg-view {
  background-color: #eff0f2;
}

.bg-btn-device {
  background-color: #FFF7E6;
}

.bg-btn-close {
  background-color: #F3F4F6;
}

.text-btn-device {
  color: #FAB300;
}

.all-orders {
    border-radius: 24px;
    border: 1px solid #F2F3F4;
    padding: 16px;

}
.container h4 {
    font-size: 18px;
    color: #051573;
}
.addbtn{
    width: 15%;
}

.bg-title{
  color: #051573;
}