<section>
    <div class="table-card container py-5">
        <div class="d-flex justify-content-between all-orders mb-2">
            <h4>{{'sources.sources' | translate}}</h4>
            <button class="primary text-center addbtn mx-4" (click)="openAddSource()">
                <!-- <span class="fa-solid fa-plus mx-2"></span> -->
                <span>{{'sources.add'|translate}}</span>
            </button>
        </div>

        <table class="custom-table">
            <thead class="text-capitalize">
                <th class="px-2 alone">{{'sources.name_en' | translate}}</th>
                <th class="px-2 alone">{{'sources.name_ar' | translate}}</th>
                <th class="alone">{{'sources.actions' | translate}}</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableData; let isEven = even">
                    <td class="px-2">{{ item.name_en }}</td>
                    <td class="px-2">{{ item.name_ar }}</td>

                    <td class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openEditSource(item.id)">
                                <mat-icon>edit_square</mat-icon>
                                <span>{{'sources.edit'|translate}}</span>
                            </button>
                            <button mat-menu-item (click)="deleteDialog(item)">
                                <mat-icon>delete</mat-icon>
                                <span>{{'delete'|translate}}</span>
                            </button>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bg-info">
        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)"
            [length]="tableResponse?.total" [pageSize]="tableResponse?.pageSize"
            [pageSizeOptions]="[5, 10, 15, 20, 40, 100]" [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
    </div>
</section>