<section class="main-navbar shadow-sm ">
    <div class="container-fluid   ">


        <div class="icons d-flex">
            <!-- <i class="fa-regular fa-cloud"></i>
            <p class="m-0 px-2">طقس جيد</p> -->
            <i class="fa-regular fa-calendar "> </i>
            <p class="m-0 px-2">{{ today | date:'dd MMM yyyy' }}</p>
            <i class="fa-regular fa-clock"></i>
            <p class="m-0 px-2">{{ today | date:'hh:mm a' }}</p>
            <i class="fa-solid fa-location-dot"></i>
            <p class="m-0 px-2">العُلا</p>
        </div>




    </div>
</section>