<section class="add-view-order">
  <div class="my-4">
    <div class="row">
      <div class="col">
        <div class="p-4">

          <!-- Breadcrumb -->
          <div class="row align-items-center mb-3">
            <div class="col-md-6">
              <div class="title">
                <p>
                  <a routerLink="/dashboard/devices">{{ 'devices.devices' | translate }}</a> >>
                  <span>
                    {{ isUpdatePage ? ('devices.edit_device' | translate) : ('devices.add_device' | translate) }}
                  </span>
                </p>
              </div>
            </div>
          </div>

          <form [formGroup]="deviceForm" (ngSubmit)="onSubmit(deviceForm)">
            <h3>{{ isUpdatePage ? ('devices.edit_device' | translate) : ('devices.add_New_device' | translate) }}</h3>

            <div class="row all-orders">

              <!-- NAME_AR -->
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ 'devices.name_ar' | translate }}</mat-label>
                  <input matInput formControlName="name_ar" />
                  <mat-error *ngIf="deviceForm.controls.name_ar.hasError('required')">
                    {{ 'devices.name_ar' | translate }} {{ 'required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- NAME_EN -->
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ 'devices.name_en' | translate }}</mat-label>
                  <input matInput formControlName="name_en" />
                  <mat-error *ngIf="deviceForm.controls.name_en.hasError('required')">
                    {{ 'devices.name_en' | translate }} {{ 'required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- DEVICE TYPE -->
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ 'devices.device_type' | translate }}</mat-label>
                  <mat-select formControlName="type_id">
                    <mat-option *ngFor="let item of deviceTypes" [value]="item.id">
                      {{ currentLang === 'ar' ? item.name_ar : item.name_en }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="deviceForm.controls.type_id.hasError('required')">
                    {{ 'devices.device_type' | translate }} {{ 'required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- CODE -->
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ 'devices.code' | translate }}</mat-label>
                  <input matInput formControlName="model_code" />
                  <mat-error *ngIf="deviceForm.controls.model_code.hasError('required')">
                    {{ 'devices.code' | translate }} {{ 'required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- DEPARTMENT -->
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ 'devices.department' | translate }}</mat-label>
                  <mat-select formControlName="department_id">
                    <mat-option *ngFor="let item of departments" [value]="item.id">
                      {{ currentLang === 'ar' ? item.name_ar : item.name_en }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="deviceForm.controls.department_id.hasError('required')">
                    {{ 'devices.department' | translate }} {{ 'required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- MANUFACTURER -->
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ 'devices.manufacturer' | translate }}</mat-label>
                  <mat-select formControlName="company_id">
                    <mat-option *ngFor="let item of manufacturers" [value]="item.id">
                      {{ currentLang === 'ar' ? item.name_ar : item.name_en }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="deviceForm.controls.company_id.hasError('required')">
                    {{ 'devices.manufacturer' | translate }} {{ 'required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- MODEL -->
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ 'devices.model' | translate }}</mat-label>
                  <mat-select formControlName="model_id">
                    <mat-option *ngFor="let item of devicesModel" [value]="item.id">
                      {{ currentLang === 'ar' ? item.name_ar : item.name_en }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="deviceForm.controls.model_id.hasError('required')">
                    {{ 'devices.model' | translate }} {{ 'required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- SERIAL NUMBER -->
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ 'devices.serial_number' | translate }}</mat-label>
                  <input matInput formControlName="serial_number" />
                  <mat-error *ngIf="deviceForm.controls.serial_number.hasError('required')">
                    {{ 'devices.serial_number' | translate }} {{ 'required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- STATUS -->
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ 'devices.status' | translate }}</mat-label>
                  <mat-select formControlName="status">
                    <mat-option *ngFor="let item of deviceStatus" [value]="item.id">
                      {{ currentLang === 'ar' ? item.name_ar : item.name_en }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="deviceForm.controls.status.hasError('required')">
                    {{ 'devices.status' | translate }} {{ 'required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- CUSTODIANS -->
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ 'devices.custodians' | translate }}</mat-label>
                  <mat-select formControlName="custodians">
                    <mat-option *ngFor="let item of custodiansList" [value]="item.id">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="deviceForm.controls.custodians.hasError('required')">
                    {{ 'devices.custodians' | translate }} {{ 'required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- BUY DATE -->
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ 'devices.buy_date' | translate }}</mat-label>
                  <input matInput formControlName="buy_date" [matDatepicker]="picker3" />
                  <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                  <mat-error *ngIf="deviceForm.controls.buy_date.hasError('required')">
                    {{ 'devices.buy_date' | translate }} {{ 'required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- WARRANTY PERIOD -->
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ 'devices.warranty_period' | translate }}</mat-label>
                  <input matInput formControlName="warranty_period" />
                  <mat-error *ngIf="deviceForm.controls.warranty_period.hasError('required')">
                    {{ 'devices.warranty_period' | translate }} {{ 'required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- DESCRIPTION EN -->
              <div class="col-md-12">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ 'devices.description_en' | translate }}</mat-label>
                  <textarea matInput formControlName="description_en"></textarea>
                </mat-form-field>
              </div>

              <!-- DESCRIPTION AR -->
              <div class="col-md-12">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ 'devices.description_ar' | translate }}</mat-label>
                  <textarea matInput formControlName="description_ar"></textarea>
                </mat-form-field>
              </div>

              <!-- FILE UPLOADER -->
              <div class="col-md-6">
                <app-file-uploader [multiple]="false" [attachmentFiles]="uploadedFiles" formControlName="image"
                  (onformchange)="onUploadFile($event)" (ondelete)="onDeleteFile($event)"
                  [chooseLabel]="'orders.add_attachment' | translate">
                </app-file-uploader>
              </div>

            </div>

            <!-- BUTTONS -->
            <div class="text-center mt-3 d-flex justify-content-end">
              <button type="button" class="outline-secondary mx-2" routerLink="/dashboard/devices">
                {{ 'cancel' | translate }}
              </button>
              <button type="submit" class="primary">
                {{ 'save' | translate }}
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>