<div [dir]="currentLang =='en' ? 'ltr' : 'rtl'">
    <section>
        <h1 mat-dialog-title class="w-100 bg-orange text-dark">
            {{'department.add'|translate}}
        </h1>
        <div mat-dialog-content>
            <form [formGroup]="departmentForm">
                <div class="row">
                    <!--  english name -->
                    <div class="col-md-6">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label class="text-orange">{{'department.name_en' | translate}}</mat-label>
                            <input formControlName="name_en" matInput
                                placeholder="{{'department.name_en' | translate}}" />
                        </mat-form-field>
                    </div>
                    <!--  arabic name -->
                    <div class="col-md-6">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label class="text-orange">{{'department.name_ar' | translate}}</mat-label>
                            <input formControlName="name_ar" matInput
                                placeholder="{{'department.name_ar' | translate}}" />
                        </mat-form-field>
                    </div>
                    <!-- maintenance_supervisor -->
                    <div class="col-md-4">
                        <mat-form-field class="w-100" [hideRequiredMarker]="hideRequiredMarker">
                            <mat-label>{{'department.maintenance_supervisor.name' | translate}}</mat-label>
                            <mat-select formControlName="maintenance_supervisor_id">
                                <mat-option *ngFor="let item of tableData" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
        <div mat-dialog-actions class="d-flex justify-content-between">
            <button class=" primary mb-2 text-white" [disabled]="departmentForm.invalid" mat-button
                [mat-dialog-close]="departmentForm" cdkFocusInitial>
                {{'save'|translate }}
            </button>
            <button class="btn mb-2 btn-secondary" mat-button (click)="onNoClick()">
                {{'cancel'|translate}}
            </button>
        </div>
    </section>